{% extends "base.html" %}
{% block content %}
       
<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="jumbotron col-12-lg col-8-lg animated shadow mt-5 fadeInRight">
            <div class="row d-flex ml-5">
                <div class="col-md-7">
                    <div class="mb-5 mt-3">
                        <table
                            class="table text-nowrap text-center table-hover table-bordered table-striped table-condensed table-wrapper-scroll-y my-custom-scrollbar"
                            id="table">
                            <thead>
                                <tr>
                                    <th class="text-center shadow-sm">Movie</th>
                                    <th class="text-center shadow-sm">Year</th>
                                    <th class="text-center shadow-sm">Genre</th>
                                    <th class="text-center shadow-sm" colspan=3>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for movie in movies %}
                                <tr class='samplerow'>
                                    <td>{{movie.movie_title}}</td>
                                    <td>{{movie.year}}</td>
                                    <td>{{movie.genre}}</td>
                                    <td>{{movie.price}}</td>
                                    <td><a href = "{% url 'edit' movie.pk%}">
                                        <button class="btn-info btn-sm" >edit</button></td>
                                    <td><button class="btn-danger btn-sm">delete</button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock%}